### Creating dictionaries : series
Pandas allows us to create dictionarys with key-value pairs using the pandas.Series object.
This datatype is a single-dimensional dictionary built using numpy's ndarrays.

In [55]:
import pandas as pd
series1 = pd.Series([19, 80, 14, 16], ['a', 'b', 'b', 'c'])
series1

a    19
b    80
b    14
c    16
dtype: int64

In [61]:
# defining using an array with keys
import numpy as np
array1 = np.array([1,2,3])
series2 = pd.Series(array1, ['a','b','c'])
series2

a    1
b    2
c    3
dtype: int32

In [65]:
# defining a series using a dictionary
dict1 = {'a':1,'b':2,'c':3}
series3 = pd.Series(dict1)
series3

a    1
b    2
c    3
dtype: int64

In [67]:
ice_cream_prices = pd.Series([1.99, 0.69, 2.5, 2.99, 0.99], ['bubblegum', 'strawberry', 'butterscotch', 'magnum', 'apple_pie'])
ice_cream_prices

bubblegum       1.99
strawberry      0.69
butterscotch    2.50
magnum          2.99
apple_pie       0.99
dtype: float64

### Series slicing
Pandas actually allows us to slice series, though it is important to note that the order in which they are sliced is purely determinted by the positions in which the data items are defined.</br>

Another important fact is that slicing, using series, is inclusive.

In [82]:
ice_cream_prices['strawberry':'magnum']

strawberry      0.69
apple_pie       0.99
bubblegum       1.99
butterscotch    2.50
magnum          2.99
dtype: float64

In [84]:
print(ice_cream_prices[::-1])

magnum          2.99
butterscotch    2.50
bubblegum       1.99
apple_pie       0.99
strawberry      0.69
dtype: float64

In [86]:
ice_cream_prices['butterscotch':]

butterscotch    2.50
magnum          2.99
dtype: float64

### Sorting series
We can sort a series depending on the axis, key/value, and in a specific direction using the sort_index/sort_values() functions.

In [89]:
# sort the series based on the prices of the ice creams
ice_cream_prices = ice_cream_prices.sort_values()
ice_cream_prices

strawberry      0.69
apple_pie       0.99
bubblegum       1.99
butterscotch    2.50
magnum          2.99
dtype: float64

### Dataframes for multidimensional dictionaries
Dataframes allow us to extend the functionality of the series in pandas. It allows us to use the same keys with multiple value pairs.

In [108]:
import pandas as pd
grades = pd.Series([4.0, 3.5, 3.0, 2.5],['A','B','C','D'])
marks = pd.Series([85, 75, 65, 55], ['A','B','C','D'])
dataframe1 = pd.DataFrame({'Marks':marks, 'Grades':grades})
dataframe1

   Marks  Grades
A     85     4.0
B     75     3.5
C     65     3.0
D     55     2.5